<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ETS | {{ company.name }} Employee Edit</title>
        {% load static %}
        <!-- Favicons -->
        <link href="{% static '/img/ets-favicon.png' %}" rel="icon">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <Link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <!-- 
        ==================
        NAVIGATION SECTION
        ================== 
        -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="#">{{ company.name }}</a>
                    <a class="nav-item nav-link active" href="/manage/admin">Management <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/clock">Clock</a>
                    <a class="nav-item nav-link" href="/settings">Settings</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
        <br>
        <!-- 
        ======================
        END NAVIGATION SECTION
        ====================== 
        -->

        <!-- 
        ==================
        ADMIN NAVIGATION
        ================== 
        -->
        <div class="row mt-50 ml-3">
            <!-- TAB LINKS -->
            <section class="admin-control col-sm-3 col-lg-2 tab">
                <div class="container">
                    <img src="{{company.image.url}}" alt="{{ company.name }}" />
                </div>
                <header>
                    <h6>Admin</h6>
                </header>
                <div>
                    <a href="/manage/admin">Admins</a>
                </div>
                <hr>
                <br>
                <header>
                    <h6>Company</h6>
                </header>
                    <div><a href="/manage/company">Company<a></div>
                    <hr>
                    <div><a href="/manage/locations">Locations</a></div>
                    <hr>
                    <div><a href="/manage/employees">Employees</a></div>
                <br>
                <header>
                    <h6>Reports</h6>
                </header>
                {% if locations %}
                    {% for l in locations %}
                        <div><a href="/reports/locations/{{l.id}}" > {{ l.name }} </a></div>
                        <hr>
                    {% endfor %}
                {% endif %}
                <div><a href="/reports/all-employees">Employee Reports</a></div>
                <br>
                <hr>
                <br>
                <div class="support-comment">
                    <p>For issues please contact <a href="mailto:benwillwalk@gmail.com" class="">Customer Support</a> with a detailed summery of the issue.</p>
                </div>
            </section>
            <!-- 
            ====================
            END ADMIN NAVIGATION
            ====================
            -->
            <section class="col-sm-9 col-lg-9 text-center">
                <!-- Manage Company Info-->
                <div>
                    <div class="text-center">
                        <div class="company-editting-block">
                            <h3>Edit Employee<h3>
                            <br>
                            <hr>
                            <br>
                            <div class="container text-center mb-5">
                                <form class="form-control text-left" method="POST" action="/manage/employees/{{employee.id}}/edit/process">
                                    {% csrf_token %}
                                    <label for="first_name">first Name:</label>
                                    <input class="form-control" type="text" name="first_name" placeholder="{{ employee.first_name }}" />
                                    <br>
                                    <label for="last_name">Last Name:</label>
                                    <input class="form-control" type="text" name="last_name" placeholder="{{ employee.last_name }}" />
                                    <br>
                                    <label for="role">Role:</label>
                                    <input class="form-control" type="text" name="role" placeholder="{{ employee.role }}" />
                                    <br>
                                    <input type="submit" class="form-control btn btn-success" />
                                </form>
                                {% if messages %}
                                    {{ message }}
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="text-center p-10">
                            <div class="text-center">
                                <p>Delete Employee</p>
                                <p>WARNING!</p>
                                <p>This will delete all data associated, be sure to print and store your records first. This can't be undone.</p>
                            </div>
                            <div class="text-center p-10">
                                <a href="/manage/employees/{{ employee.id }}/process/delete" class="btn btn-danger">Delete Employee</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <!-- Latest compiled and minified JavaScript -->
        <script src="http://cdn.date-fns.org/v1.9.0/date_fns.min.js"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
